/** Write your CSS in here **/
#backgroundColorBody{
    background-image: url(images/image4.jpeg)
}
    
    


#quoteDiv{
color:rgb(54, 52, 48);
font-family: 'Courier New', Courier, monospace;
font-size: medium;


}
#quoteParagraph{
    color:wheat;
font-family: 'Courier New', Courier, monospace;
font-size: 3rem;
    
    color:rgb(54, 52, 48);
    font-weight: bolder;
}

#quoteAuthorParagraph{
    
    justify-content: right;
    color:rgb(54, 52, 48);
    font-weight: bolder;
    font-size: 2.5rem;
}

#newQuoteButton{
background-color: aqua;


justify-content: right;
}

